
# Compiled output
/out
*.vsix

# Dependencies
node_modules/

# IDE
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.temp

# Vscode
.vscode
